
 <%= render "layouts/layout", article: @article %>


<div id="viewport">
<div class="container row" id="noidung">
      <h1 style="padding: 30px">THỐNG KÊ</h1>
      <br><br>

      <div class="col-sm-6" style="padding: 20px;">
          <div class="div1">
               <?php
               $sum_user = 0;
                      foreach( $data_user as $value )
                     {
                       $sum_user +=1;
                        }
                        echo "Tổng số nhân viên là: "."<br><span style='color:orange;'> $sum_user</span>";
                ?>
          </div>
     </div>

     <div class="col-sm-6" style="padding: 20px;">
          <div class="div1">
               <?php
               $sum_user = 0;
                      foreach( $data_user as $value )
                     {
                       $sum_user +=1;
                        }
                        echo "Tổng số nhân viên là: "."<br><span style='color:orange;'> $sum_user</span>";
                ?>
          </div>
     </div>

     <div class="col-sm-6" style="padding: 20px;">
          <div class="div1">
               <?php
               $sum_user = 0;
                      foreach( $data_user as $value )
                     {
                       $sum_user +=1;
                        }
                        echo "Tổng số nhân viên là: "."<br><span style='color:orange;'> $sum_user</span>";
                ?>
          </div>
     </div>



     <div class="col-sm-6" style="padding: 20px;">
          <div class="div1">
               <?php
               $sum_user = 0;
                      foreach( $data_user as $value )
                     {
                       $sum_user +=1;
                        }
                        echo "Tổng số nhân viên là: "."<br><span style='color:orange;'> $sum_user</span>";
                ?>
          </div>
     </div>



    
     



</div>
</div>
