
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="../?action=trangchu" title="xem trang web">
        <div style="color:white;" href="#">Quản Trị Viên<br> </div> 
      	<div style="line-height: 1px; color:white;font-size: 15px;"><span style="color:orange;">My</span> Shop</div>
      </a>
    </header>
    <ul class="nav">
      <li>
        <a href="/trangchu">
         <i class="fa1 fa fa-home"></i>Trang chủ
        </a>
      </li>
      <li>
        <a href="/users">
          <i class="fa1 fa fa-table"></i>Quản lý User
        </a>

      </li>
      <li>
        <a href="?action=nuoc">  <!-- href="?action=taikhoan"-->
          <i class="fa1 fa fa-table"></i>Quản lý danh mục
        </a>
      </li>
      <li>
        <a href="?action=loainuoc">
         <i class="fa1 fa fa-table"></i>Quản lý sản phẩm
        </a>
      </li>
      <li>
        <a href="?action=hoadon">
         <i class="fa1 fa fa-table"></i>Quản lý Hóa đơn
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="content" style="background-color: lightgray;">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div>
            <a href="#" style="margin-right: 30px; text-decoration: none; color:black;">
            <img class="anhuser" src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt=""
            style="width: 70px; height: 70px;">&emsp;
            Xin chào Admin
            </a>
          </div>
          <ul class="nav navbar-nav navbar-left">
          <li>
              <div class="search_box">
                <input type="text" placeholder="Search"/>&ensp;
                  <a href="#"><i class="fa fa-search" id="i1"></i></a>
                          <span style="font-size: 20px;padding-left: 10px;"> |</span>
              </div>
          </li>
        </ul>
<!-- 
        <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
          <li class="nav2">

            <a href="#"><i class="fa fa-bell nav1"></i></a>
          </li>
           <li>
            <a href="#"><i class="fa fa-envelope nav1"></i></a>
          </li>
        </ul> -->
      </div>
    </nav>
  </div>




  </div> <!-- thiếu một thẻ đóng của phần layout -->












