<!-- Phần chính -->

 <%= render "layouts/header", home: @home %>

  <%= render "layouts/slider", home: @home %>

    <%= render "layouts/footer", home: @home %>


  <!-- <div class="row">
  


  <div class="col-sm-3">
         <div class="single-product">
            <div class="product-f">
                 <a href="?action=cuahang&id=<?php echo $value['idLoaiSP'] ?>">
                     <img style="height: 270px; width: 300px;" src="http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f40f8876a1431fb7a54214a64439a63bc730acb0/nhom.jpg" alt="Product Title" >
                </a>
             <div class="actions-btnn">
              <span>sản phẩm</span>
             </div>
          </div>
        </div>
</div>


 <div class="col-sm-3">
         <div class="single-product">
            <div class="product-f">
                 <a href="?action=cuahang&id=<?php echo $value['idLoaiSP'] ?>">
                     <img style="height: 270px; width: 300px;" src="http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f40f8876a1431fb7a54214a64439a63bc730acb0/nhom.jpg" alt="Product Title" >
                </a>
             <div class="actions-btnn">
              <span>sản phẩm</span>
             </div>
          </div>
        </div>
</div>


 <div class="col-sm-3">
         <div class="single-product">
            <div class="product-f">
                 <a href="?action=cuahang&id=<?php echo $value['idLoaiSP'] ?>">
                     <img style="height: 270px; width: 300px;" src="http://localhost:3000/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f40f8876a1431fb7a54214a64439a63bc730acb0/nhom.jpg" alt="Product Title" >
                </a>
             <div class="actions-btnn">
              <span>sản phẩm</span>
             </div>
          </div>
        </div>
</div>


</div> -->