/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a.soluong{
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: red;
}
i.fa1{
    font-size: 25px;
    padding: 10px;
    padding-top: 20px;
}

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

/* trang chủ */
#myDIV {
  position: static;
}
div.col-sm-6{
  position: static;
}
div.col-sm-12{
  position: static;
}

/* layout */
img.anhuser{
	height: 40px;
	width: 40px;
	border-radius: 20px;
}
.nav1{
	padding-top: 13px;

}
li.nav2{
	margin-left: 30px;
}
i.nav1{
	font-size: 25px;
	margin-left: 10px;
}
div.search_box{
	margin-top: 21px;
}

i.fa-search{
	font-size: 20px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */
#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#content {
	width: 82%;
  position: fixed;
  margin-right: 0;
}
/* Sidebar Styles */
#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  height: 73px;
}
#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}
#sidebar header a:hover {
  color: #fff;
}
#sidebar .nav{
}
#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}
#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}
#sidebar .nav a i{
  margin-right: 16px;
}
/* footer */
.footerr{
	 bottom: 0;margin: auto;background-color: gray;width: 100%;text-align: center;position: fixed;padding-right: 20px;
}
/*    nội dung*/
#noidung{
	padding-top: 90px;
	padding-left: 50px;
	background-color: white;
}
/**/
th.theadd{
  min-width: 100px;
  max-width: 170px;
}
a.themmoi{
  height: 30px;
  width: 90px;
  background-color: red;
  color:white;
  padding: 5px 10px 5px;
  border-radius: 10px;
}

/* trang chủ */
div.div1{
  background-color: gray;
  border-radius: 10px;
  color:white;
  padding: 30px;
  font-size: 20px;
  border-left: .9rem solid #1cc88a!important;
}
div.div1:hover{
  background-color: darkgray;
  border-radius: 20px;
  color:white;
  padding: 30px;
}
div.col-sm-4{
  margin-bottom: 10px;
  position: static;
}


.mySlides {display:none;}







/* hover div cuahanngs */

  
.box-wrap{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:10%;
}
.box{
  padding:30px;
  margin:2%;
  background:white;
  width:30%;
  border:1px solid #d6d6d6;
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  transition:.2s all; 
}
.box-wrap:hover .box{
  /*  filter:blur(3px); */
 
  transform: scale(.98);
  box-shadow:none;
}
.box-wrap:hover .box:hover{
  transform:scale(1);
  filter:blur(0px);
  
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.300);
}






/*  SLIDER   */
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
  .w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
  .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
  .w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
  .w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
  .w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}
  .w3-display-container{position:relative}


















