
<br>
<br>
<div class="w3-content w3-display-container" style="min-width: 1300px; background-color: gray; height: 500px;">
    <% @danhmuc_all.each do |danhmuc| %>

          <div class="mySlides fade">
                  <div class="col-sm-5" style="padding-top:50px;">
                     <%= image_tag(danhmuc.image, style: 'width:90%; text-align: center; margin-left: 50px; border-radius: 30px; float:left; height: 400px;') %>
                  </div>
                  <div class="col-sm-7" style="padding-top: 30px; margin-left: 450px; color:white;">
                     <br>
                       <span style="margin-left: 50px; font-size: 25px;">
                        <b>
                          <span style="color:#5fbf00">UY TÍN </span>
                          - 
                          <span style="color:orange">CHẤT LƯỢNG </span>
                          - 
                          <span style="color:#ff7f00;">THỜI THƯỢNG </span>
                        </b>
                      </span>
                        <br>
                        <br>
                        
                     <h4 style="margin-left: 75px;">&emsp;&emsp;
                        Sản Phẩm <%= danhmuc.name %>
                      </h4>
                      <br>
                      <br>
                        <br>
                      <a href="/cuahangs" style="margin-left: 50px;">
                          <button type="button" class="btn btn-info">Xem Ngay</button>
                       </a>
              </div>
          </div>

     <% end %>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(0)"></span> 
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
  




<script>
      //khai báo biến slideIndex đại diện cho slide hiện tại
      var slideIndex;
      // KHai bào hàm hiển thị slide
      function showSlides() {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
             slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }

          slides[slideIndex].style.display = "block";  
          dots[slideIndex].className += " active";
          //chuyển đến slide tiếp theo
          slideIndex++;
          //nếu đang ở slide cuối cùng thì chuyển về slide đầu
          if (slideIndex > slides.length - 1) {
            slideIndex = 0
          }    
          //tự động chuyển đổi slide sau 5s
          setTimeout(showSlides, 3000);
      }
      //mặc định hiển thị slide đầu tiên 
      showSlides(slideIndex = 0);


      function currentSlide(n) {
        showSlides(slideIndex = n);
      }


      showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
    </script>

